* {
  box-sizing: border-box;
}
body {
  background-color: #d2dbdc;
  margin: 0;
  font-family: "Segoe UI", Helvetica Neue, Helvetica, Arial;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: #ededed;
}
.sidebar {
  position: relative;
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}
.sidebar--config {
  position: absolute;
  background: #fff;
  right: 15px;
  top: 60px;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  width: 150px;
  overflow: hidden;
  transition: width 0.1s, height 0.1s, opacity 0.7s;
}
.sidebar--config ul {
  list-style: none;
  margin: 15px 0;
  padding: 0;
}
.sidebar--config li {
  padding: 10px 25px;
  cursor: pointer;
  white-space: nowrap;
}
.sidebar--config li:hover {
  background-color: #ededed;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.header--buttons {
  display: flex;
}

.header--btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.2s;
}
.header--btn.active {
  background-color: #d5d5d5;
}

.search {
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}
.search--input {
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.search--input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}

.chatlist {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.contentarea {
  flex: 1;
}
